<h1>Students</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Student ID</th>
      <th scope="col">Student email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr scope="row">
        <td><%= student.id %></td>
        <td><%= student.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%== pagy_bootstrap_nav(@pagy).html_safe %>
<br>

<%= link_to 'New Student', new_student_path, class:"btn btn-light"  %>
