<h1>Welcome to TestIO home page</h1>
<div class="main-content"  style="clear:both; overflow: hidden;"> 
<div>
    <p>current_admin: </p>
    <%= current_admin.inspect %>
    <br>
    <p>current_teacher: </p> 
    <%= current_teacher.inspect %> 
    <br> 
    <p>current_student: </p>
    <%= current_student.inspect %> 
    
</div>
<div class="four">
    <h1>
        The <strong> TestIO </strong> system is a professional tool for automating the testing process and processing results, 
        which is designed to solve a wide range of tasks: 
    </h1>
</div>

<ul class="square">
    <li>
        Testing, control of students 'and students' knowledge.
    </li>
    <li>
        Determination of the professional level of employees, personnel assessment (HR).
    </li>
    <li>
        Preparation for exams and certifications.
    </li>
    <li>
        Psychological testing.
    </li>
    <li>
        Organization and conduct of surveys, Olympiads, competitions.
    </li>
</ul>
<br>
<div class="four">
    <h1>
    550 free tests are available (for 72000 questions with explanations):
    </h1>
</div>

<ul class="square">
    <li>
        Psychological tests.
    </li>
    <li>
        Industrial safety (Rostechnadzor tests for certification of employees of organizations and industrial enterprises,
        an analogue of Olimpoks).
    </li>
    <li>
        Labor protection, electrical safety, fire and technical minimum.
    </li>
    <li>
        Tests on working professions.
    </li>
    <li>
        Traffic rules
    </li>
    <li>
        Transport security.
    </li>
</ul>

<h1> 
    Advantages of the testing system
</h1>
<div class="portfolio-wrap">
    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="">
            <img src="https://w7.pngwing.com/pngs/594/615/png-transparent-creative-star-star-night-sky.png">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>
                            Wide range of applications
                        </h3>
                    </div>
                    <ul>
                        <li>
                            The program for creating tests and testing INDIGO is ideal for testing students (schoolchildren
                             and students for entrance exams, tests, sessions, distance education), as well as for testing 
                             employees (employees, personnel) when applying for a job (HR), psychological testing, surveys, 
                             certifications, additional professional education (DPO).
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="">
            <img src="https://w7.pngwing.com/pngs/594/615/png-transparent-creative-star-star-night-sky.png">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>
                            Easy installation of the system on any computer
                        </h3>
                    </div>
                    <ul>
                        <li>
                            The INDIGO testing program is a complex of server and application software, which includes a database
                             management system, a web server, data caching and load balancing tools, administrator and user 
                             interfaces. Despite this, the installation and configuration of the system components is performed 
                             automatically using the installation package. It does not require any special knowledge in the 
                             administration of servers or operating systems to install a testing system on your server or home 
                             computer.
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="">
            <img src="https://w7.pngwing.com/pngs/594/615/png-transparent-creative-star-star-night-sky.png">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>
                            Perpetual license and no subscription fee
                        </h3>
                    </div>
                    <ul>
                        <li>
                            After purchasing a license, the right to use the product remains with you forever. No subscription fee. 
                            Your data will always remain with you and access to it will never be lost. Even if our organization ceases
                            to exist, you will still be able to continue using the testing system for as long as you want.
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="">
            <img src="https://w7.pngwing.com/pngs/594/615/png-transparent-creative-star-star-night-sky.png">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>
                            Powerful administration interface
                        </h3>
                    </div>
                    <ul>
                        <li>
                            We have made sure that administrators are comfortable working, so all the features of the 
                            administration of the INDIGO testing system are provided through the powerful interface of the client 
                            program, which includes the following modules: Tests, Test Editor, Users, Rules, Server, Results, 
                            Reports, Statistics. In many other application testing systems, these capabilities are scattered 
                            across different programs, which creates certain inconveniences and causes the need to switch between 
                            them frequently. In INDIGO, all the functions are always at hand. The administrator does not have to 
                            be directly at the computer where the test server is installed to work with the system. Using the 
                            administration program, you can remotely connect to the server via a local network or the Internet. 
                            The administrator client does not require installation and can be carried with you (for example, on a
                             USB flash drive). Several administrators can work with the system at the same time. If one 
                             administrator makes any changes to the database (for example, creates a new test), they will 
                             immediately be displayed to other administrators (data is instantly synchronized). Each administrator 
                             an have his own account (a unique username and password).
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="">
            <img src="https://w7.pngwing.com/pngs/594/615/png-transparent-creative-star-star-night-sky.png">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>
                            System security and data privacy
                        </h3>
                    </div>
                    <ul>
                        <li>
                            The network availability of the INDIGO testing program gave rise to a number of requirements for 
                            ensuring the security of work in the network, therefore, the following means of restricting access
                             were implemented: maintaining administrator accounts, means of delimiting administrator access rights 
                             to database data and program functions, setting passwords for opening and importing/exporting tests, 
                             encrypting exported tests, restricting access to the server by IP addresses and their ranges, entering 
                             a verification code when registering users, HTTPS encryption of traffic and other means of protection. 
                             Implemented a log of user and administrator actions. If your organization has high requirements for data 
                             secrecy, then you can deploy the system not in our cloud (an online service for testing students and 
                             employees), but on your own server, so no one else can access the secret data.
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-item-wrap">
            <a href="">
            <img src="https://w7.pngwing.com/pngs/594/615/png-transparent-creative-star-star-night-sky.png">
                <div class="portfolio-item-inner">
                    <div class="portfolio-heading">
                        <h3>
                            Extensive features of the test editor and a powerful word processor
                        </h3>
                    </div>
                    <ul>
                        <li>
                            In the program for creating INDIGO tests, various settings can be set for each test: the type of test,
                             navigation settings between questions, testing time limit, mixing settings for questions and answer 
                             options, and many others. The test shell supports 5 types of questions. Each type of question has its 
                             own individual settings. A tool for importing questions of all types from text files of a very simple 
                             format has been implemented. The test editor has a built-in word processor that allows you to format 
                             text in any way, insert graphic images and tables, insert data from various file formats, including 
                             inserting video and audio files.
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>
    
    

    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://im0-tub-by.yandex.net/i?id=bd5d0c4e2cef1f1471d74dcafa9b64a4&n=13" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://4.404content.com/1/A4/F7/2220500635848542028/fullsize.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>