// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
    color: black;
    font-family: ‘Trocchi’, serif;
    font-size: 18px; 
}
td{
    color: black;
    font-family: ‘Trocchi’, serif;
    font-size: 18px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0; 
    //text-align: center;
}
