// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-sm {
    background-color: floralwhite;
}
.post-header { 
    margin-bottom: 30px;
    position: relative; 
}

h1 { 
    color: #c9d0d4;
    font-family: ‘Helvetica Neue’, sans-serif; 
    font-size: 46px; 
    font-weight: 100;
    line-height: 50px; 
    letter-spacing: 1px; 
    padding: 0 0 40px; 
    border-bottom: double #555; 
}

p { 
    color: #bbc3c8; 
    font-family: ‘Verdana’, sans-serif; 
    font-size: 16px; 
    line-height: 26px; 
    text-indent: 30px; 
    margin: 0; 
}

.date { 
    color: #bbc3c8; 
    background: #292929; 
    display: inline-block; 
    font-family: ‘Georgia’, serif; 
    font-style: italic; 
    font-size: 18px; 
    line-height: 22px; 
    margin: 0 0 20px 18px; 
    padding: 10px 12px 8px; 
    position: absolute; 
    bottom: -36px; 
}

//button
.boton1{
    background:#eee;
    color:#088;
    text-decoration:none;
    display:inline;
    width:90px;
    text-align:center;
    margin:20px auto;
    padding:10px 10px;
    transition:all 0.3s;
    }
   a.boton1:hover{
    box-shadow:0px -5px 0 #088 inset;
  }

.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
