<h1>Editing Test</h1>

<%= render 'form', test: @test %>

<%= link_to 'Show', teacher_test_path(current_teacher.id), class:"btn btn-light" %> |
<%= link_to 'Back', teacher_tests_path(current_teacher.id), class:"btn btn-light" %>
